* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
}
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    color: #000000;
	text-decoration: none;
}

.header, .main-nav {
	display: flex;
	
}
.main-nav {
	margin-top: 5px;
	
}
.header {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
  letter-spacing: 3px; 
}

.main-nav a {
	color: #000000;
	font-size: 1em;
}

.main-nav a:hover {
	color: #68b0ab;
}
/* This begins the CSS for the sections  */

/* hero background image */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	/* Set a specific height */
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
        }



h2 {
	color:#000000;
	text-align: left;
	position: relative;left:350px;top:5px;
}

img {	float:left;
	width:300px;height:300px;
	position: relative;right:50px;
	border-style:solid;
			
}
        
.main-browser {
	text-align: center;
	position: relative;
	background-color:#68b0ab;
	padding:2px;
	margin:0;
         
	
}

button {
	padding: 10px 10px;
	background-color: white;
	border-radius: 0px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

}
        
button:hover {
	background-color: #68b0ab;

}
        
        
#browser1 {
	width:90%;
	overflow: hidden;
	margin: 50px;
	font-size:20px;
	position:relative;left:50px;top:5px;
	background-color:#fdfdfd;
	border-style:solid;
	
}

#browser2 {
	width:90%;
	overflow: hidden;
        margin:50px;
        font-size:20px;
        position:relative;right:50px;top:5px;
        border-style:solid;
         background-color:#fdfdfd;

        
}
#browser3 {
	width:90%;
	overflow: hidden;
        margin:50px;
        font-size:20px;
        position:relative;left:50px;top:5px;
        border-style:solid;
        background-color:#fdfdfd;
}

#browser4 {
	width:90%;
	overflow: hidden;
	margin:50px;
	font-size:20px;
        position:relative;right:50px;top:5px;
        border-style:solid;
        background-color:#fdfdfd;

}



 /* Footer */ 
 #footer{
	height: 3rem;
	margin-bottom: 2rem;
	color: #000000;
	text-align: center;
	letter-spacing: .1rem;
	text-transform: uppercase;
  }
  .social-media-links{
	padding-top: 1rem;
	font-size: 1.3rem;
  }

  /* Social Media Links */
  .fa {
    text-align: center;
    text-decoration: none;
  }
   .fa:hover {
    opacity: 0.9;
  }
   .fa-facebook, .fa-twitter,.fa-youtube,.fa-instagram {
    color: #000000;
  }
