* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	/* background-color: #c8d5b9c4; */
}
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
    color: #000000;
	text-decoration: none;
}

.header, .main-nav {
	display: flex;
	
}
.main-nav {
	margin-top: 5px;
	
}
.header {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
  letter-spacing: 3px; 
}

.main-nav a {
	color: #000000;
	font-size: 1em;
}

.main-nav  a:hover {
	color: #68b0ab;
}
/* Sponsor Imges */
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 1rem;
  }
  
  .flex-container > div {
	width: 230px;
	margin: 20px;
  }
  .flex-container img{
	  width: 220px;
	  padding-right: 30px;
  }
.sponsors-img{
	margin-bottom: 7rem;
}

/* work team */
.work-team-Img img{
	width: 100%;
	margin-top: 9rem;
}
/* section hero */
.sponsor-color{
	display: flex;
	flex-flow: row wrap;
	margin-left: 70px;
}

.content {
	margin-top: 4rem;
	margin-bottom: 2rem;
	width: 50%;
	background-color: #8fc0a9e8;
	padding-right: 4em;
	padding-left: 5em;
	border-radius: 0 60px 0;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.178);
}

.content  #title{
	padding-top: 2rem;
	font-size: 4rem;
	color: white;
	text-transform: uppercase;
    font-family: 'Caveat';
    letter-spacing: .3rem;
	text-decoration: underline;
}
.content p{
	color: white;
	font-family: 'Caveat';
	font-size: 1.5rem;
	line-height: 1.5;
	/* padding-bottom: 4rem; */
}

/* 0UR PARTNERS section */
.sponsors-img h2{
	font-size: 4rem;
	font-family: 'Caveat';
	letter-spacing: .3rem;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	/* color: white; */
	text-shadow: 1px 2px #ffffff;
}
.box-section{
	display: block;
	position: absolute;
	padding: 35px 25px;
	margin-left: 25px;
	padding: 50px ;
	width: 50%;
	color: rgb(252, 252, 252);
	background-color: #8fc0a9;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.178);
  }

  .Img-aside{
	  width: 50%;
	  padding: 5rem 2rem;
	  /* float: right; */
  }
  .Img-aside img{
	  padding-top: 30px;
	  width: 600px;
	  border-radius: 15px 80px 0 ;
  }

/* Footer */ 
 #footer{
	height: 3rem;
	margin-bottom: 2rem;
	color: #000000;
	text-align: center;
	letter-spacing: .1rem;
	text-transform: uppercase;
  }
  .social-media-links{
	padding-top: 1rem;
	font-size: 1.3rem;
  }

  /* Social Media Links */
  .fa {
    text-align: center;
    text-decoration: none;
  }
   .fa:hover {
    opacity: 0.9;
  }
   .fa-facebook, .fa-twitter,.fa-youtube,.fa-instagram {
    color: #000000;
  }

.color{
	background-color: whitesmoke;
}